body                    {
    font-family:        sans-serif;
    font-weight:        100;
    background:         #EEE;
}
h1                      {
    text-align:         center;
    color:              #666;
    text-shadow:        0px 2px 0px #fff;

}
table {
    border:            1px solid black;
}

th  { 
    border:            1px solid #AAA;
    text-align:         left;
    height:             32px;
    background-color:   #EEE;
    vertical-align:     middle;
    font-family:        Times, Arial;
    font-style:         bold;
    font-size:          24;
    padding-right:      66px;
}

td {
   font-style:         italic;            
   background-color:   #FFF;
   border-bottom:      1px solid #ddd;
   border-right:       1px solid #888;
}

.header                 {
    background:         #EEE;
    border-radius:      3px;
    margin:             0 auto;
    box-shadow:         3px 5px 7px #666;
    padding:            7px;
}
.removeAllBTTN          {
    position:           fixed; 
    top:                8px; 
    right:              8px;
}
.addr-list              {
    visibility:         hidden;
    border-radius:      3px;
    margin:             0 auto;
    xbox-shadow:         3px 5px 7px #666;
    xbackground:         #69BABE;
    padding:            0px;
    
    overflow:           auto;
}
.addr-item              {
    xbackground:         #EFA;
    padding:            20px;
}
.addr-name              {
    xborder-bottom:      thin solid #999; 
    padding:            8px;
}
.addr-last              {
    font-weight:        bold;
    xborder-bottom:      thin solid #999; 
    padding:            8px;
}
.addr-email             {
    xborder-bottom:      thin solid #999; 
    padding:            8px;
}
.addr-country           {
    xborder-bottom:      thin solid #999; 
    padding:            8px;
}
.addr-remove            {
    background:         url('../img/trash-icon.png') no-repeat ;
    cursor:             pointer;
    padding:            1px;
    margin:             0px;
    width:              24px;
    height:             24px;
    xborder-radius:      3px;
}
.addr-edit              {
    background:         url('../img/edit-icon.png') no-repeat ;
    padding:            1px;
    margin:             0px;
    cursor:             pointer;
    width:              24px;
    height:             24px;
    xborder:             1px;
}
.newAddrBox             {
    border-radius:      3px;
    margin:             0 auto;
    box-shadow:         3px 5px 7px #666;
    background:         #F4F4F4;
    padding:            7px;
}
.newAddr                {
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         25px;
    padding:            20px 20px 20px 20px;
    font:               12px Arial, Helvetica, sans-serif;
    color:              #123;
}
.newAddr label          {
    display:            block;
    margin:             0px 0px 5px;
}
.newAddr input[type="text"], 
.newAddr input[type="email"], 
.newAddr textarea       {
    color:              #888;
    width:              50%;
    padding:            0px 0px 0px 5px;
    border:             1px solid #C5E2FF;
    background:         #FBFBFB;
    outline:            0;
    -moz-box-shadow:    inset 0px 1px 6px #ECF3F5;
    -webkit-box-shadow: inset 0px 1px 6px #ECF3F5;
    box-shadow:         inset 0px 1px 6px #ECF3F5;
    font:               200 12px/25px Arial, Helvetica, sans-serif;
    height:             30px;
    line-height:        15px;
    margin:             2px 6px 16px 0px;
}
.newAddr textarea       {
    height:             100px;
    padding:            5px 0px 0px 5px;
    width:              60%;
}
.newAddr div            {
    display:            inline;
    vertical-align:     top;
}

