<!DOCTYPE html>
 <html ng-app="app">
  <head>
  <title>Address Book</title>
  <link  href="css/main.css"                            rel="stylesheet" type="text/css">
  <script src="js/locations.js"                         type="text/javascript" charset="UTF-8"></script>
 </head>
 
  <body>
   <div class=header>
    <h1>My Local Address Book</h1>
    <div class="removeAllBTTN">
        <button id="destroyDB_BTTN" onclick="_.removeAll()">destroy DB</button>
   </div>
    <hr/>
  <div ng-controller="FormCTRL" >
   <select ng-model="selection" ng-options="item.label for item in items"></select>
   <div class="animate-switch-container" ng-switch on="selection.id">
    <div class="animate-switch" ng-switch-when="addAddr">  
     <div ng-view="formView" class="newAddrBox" >
     <form  name="addAddrForm" 
            class="newAddr"
            ng-submit="submit()" 
            validate
            id="formAddAddress"
            >
     
<!--  -->
     <label>First Name:</label>
      <input 
        type="text" 
        name="firstName" 
        
        ng-maxlength="16"
        ng-model="data.firstName" 
        required
        />
      <div ng-messages="addAddrForm.firstName.$error"  id="firstNameErr"> 
       <div ng-message="required">First Name is required</div>
     </div>
<!--  -->
     <label>Last Name:</label>
      <input 
        type="text" 
        name="lastName" 
       
        ng-maxlength="33"
        ng-model="data.lastName" 
        required 
        />
      <div  ng-messages="addAddrForm.lastName.$error" id="lastNameErr"      >
       <div ng-message="required">Last Name is required</div>
     </div>
<!--  -->
     <label>Email Address:</label>
      <input 
        type="email" 
        name="eMail" 
        
        ng-maxlength="48"
        ng-model="data.eMail" 
        required
        />
      <div ng-messages="addAddrForm.eMail.$error">
       <div ng-message="required">EMail is required</div>
       <div ng-message="email">Your email address is invalid</div>
     </div>
<!--  -->     
     <label>Country:</label>
      <select 
              name="country"
              ng-model="data.country" 
              ng-options="location.code as location.name for location in locations"
              required
              >
      <option value="">-- please chose country --</option>
      </select>
      <div ng-messages="addAddrForm.country.$error">
        <div ng-message="required">Please select a location</div>
      </div>
      <hr/>
       <div ><input type="submit" /></div>
     </form>
    </div>
    </div>
    <div class="animate-switch" ng-switch-when="editAddr" hidden>
       EDIT ADDR
    </div>
    <div class="animate-switch" ng-switch-default>
    </div>
   </div>
  </div>
  </div>
   <div ng-controller="AddressBookCTRL" class="addr-list"> 
    <table width="100%">
     <tr class="addr-item" ng-repeat="addr in people | orderBy:'-lastName'">
      <td><div class="addr-idx"         >{{addr.idx}}</div></td>
      <td><div class="addr-name"        >{{addr.firstName}}</div></td>
      <td><div class="addr-last"        >{{addr.lastName}}</div></td>
      <td><div class="addr-email"       >{{addr.eMail}}</div></td>
      <td><div class="addr-country"     >{{addr.country}}</div></td>
      <td><div class="addr-remove-div"  ><button class="addr-remove" ng-click="removeAddress(addr.idx)"></button></div></td>
    </tr>
   </table> 
  </div>
 
   <script src= "js/angular.js"                         type="text/javascript" charset="UTF-8"></script>
   <script src= "js/angular-messages.js"                type="text/javascript" charset="UTF-8"></script>
   <script src= "js/angular-animate.js"                 type="text/javascript" charset="UTF-8"></script>
   <script src= "js/ngStorage.js"                       type="text/javascript" charset="UTF-8"></script>

   <script src= "js/core-app.js"                        type="text/javascript" charset="UTF-8"></script>
   
 </body>
</html>
